* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pop-reg;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: pop-semi;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: pop-bold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11111111111;

}

.logo img {
    width: 20px;
}

.list {
    margin-left: 100px;
}

.list ul {
    padding-left: 0;
    display: flex;
    gap: 40px;
    list-style: none;
}

.list ul li a {
    font-family: pop-reg;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.list ul li {
    padding-bottom: 5px;
}

.list ul li:nth-child(1) {
    border-bottom: 1px solid #fff;

}

.search {
    width: 20%;
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 10px;
    padding: 5px;
    border-radius: 50px;
}

.search input {
    width: 100%;
    font-family: pop-reg;
    outline: none;
    border: none;
}


/* products */
.products {
    padding: 60px 20px;
}

.banner {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 90px 0;
    gap: 20px;
}
.banner h4{
    font-family: pop-semi;
}
.banner img{
    transition: 0.3s;
}
.banner img:hover{
    transform: scale(1.10);
}
.category {
    padding-bottom: 20px;
}

.category h1 {
    font-family: pop-semi;
}

.card-sec {
    display: grid;
    overflow-x: scroll;
    gap: 10px;
    grid-template-columns: repeat(10, 2fr);
}

.card-sec::-webkit-scrollbar {
    height: 10px;
    background-color: #5b5b5b;
    border-radius: 10px;
    padding: 10pxs;
}

.card-sec::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 50px;
}

.card {
    border: 1px solid #c3c3c3c3;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.card:hover{
transform: scale(1.02);
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.img-con {
    text-align: center;
}

.card h4 {
    font-family: pop-semi;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

.card p {
    font-family: pop-reg;
    font-size: 12px;
    margin: 0;
    padding-top: 10px;
}

.card button {
    border: none;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    font-family: pop-reg;
}

.card button span {
    position: absolute;
    top: -100px;
    right: 70px;
    transition: 0.3s;
}

.card button:hover span {
    top: 10px;
}

/* footer */
.footer {
    padding: 20px 30px 0;
    background-color: #000;
}

.sub-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.foot-list {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-bottom: 30px;
}

.foot-list ul {
    padding-left: 0;
    list-style: none;
}

.foot-list ul li {
    font-family: pop-reg;
    font-size: 12px;
    margin-bottom: 5px;
}

.logs-text {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 10px;
}

.logs-text img {
    width: 20px;
}

.logs-text p {
    margin-bottom: 0;
    font-family: pop-reg;
    font-size: 12px;
    margin-top: 2px;
}

.foot-list {
    color: #fff;
}

.last {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #fff;
    gap: 10px;
}

.last img {
    width: 15px;
}

.last p {
    font-family: pop-reg;
    font-size: 10px;
}

@media (max-width:500px) {
    .nav-bar{
        display: none;
    }
}